.App-header {
  color:rgb(227, 151, 229)
}

body {
  /* background-color: #3071f3; */
  background: linear-gradient(
    to left,
    rgb(34, 62, 246) 0%,
    rgb(83, 113, 232) 100%
  );
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(255, 255, 255);}



/* .app-title {
  margin-top: 75px;
  margin-bottom: 50px;
  font-size: 76px;
  font-family: 'Arial';
  color:rgb(221, 162, 190);
} */ 